<div class="product-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESC</th>
        <th>PRICE</th>
        <th>IMAGE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product)=> { %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.desc %></td>
        <td><%= product.price %></td>
        <td><img src="<%= product.image %>" alt="product-image" /></td>
        <td>
          <a href="/update/<%=product.id%>" class="btn btn-warning">update</a>
          <a href="/delete/<%=product.id%>" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
